@tailwind base;
@tailwind components;
@tailwind utilities;


.link-nav{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide scrollbar track */
::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #22b8fd; /* color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1b2eaa; /* color of the scrollbar handle on hover */
}



/* Track */
